$border: #efefef;
$yellow: #fab120;
$text-black: #4a4a4a;
* {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
p,
span,
a {
  color: $text-black;
  font-size: 14px;
}
.clock {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-yellow {
  color: $yellow;
}
.text-bold {
  font-weight: 600;
}

$logoWidth: 150px;
$logoHeight: 50px;
.letter-header {
  position: relative;
  .letter-header__logo {
    clear: both;

    .logo {
      width: $logoWidth;
      background-repeat: no-repeat;
      height: $logoHeight;
      background-color: white;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .bar {
    height: 15px;
    border: none;
    background: $yellow;
    margin-top: ($logoHeight - 10px)/2;
    display: inline-block;
    min-width: 400px;
    max-width: 600px;
    width: 600px;
    vertical-align: middle;
  }
}
.letter-header__content {
  border: 3px solid #efefef;
  padding: 20px 40px;
  margin-top: 10px;
  text-align: center;
  .letter-header__contentTitle {
    color: $yellow;
    margin: 0;
    font-weight: 400;
  }
}

.letter {
  min-width: 200px;
  max-width: 600px;
  margin: auto;
}
.itinerary {
  margin-top: 20px;
  font-weight: 600;
}
.info-card__flightTitle {
  font-size: 14px;
  margin: 5px 0;
  margin-top: 20px;
  padding-right: 5px;
  div {
    display: inline-block;
  }
  h4 {
    font-size: 16px;
    color: $yellow;
    margin: 0 10px;
    display: inline;
    span {
      color: $yellow;
      font-size: 16px;
    }
  }

  .date {
    font-weight: bold;
    margin-right: 10px;
  }

  .icon-flight {
    margin: 0 5px;
  }

  .time {
    margin-left: auto;
    float: right;
  }

  .icon-time {
    margin-right: 5px;
  }
}
$infoCardBorderRadius: 6px;
.info-card {
  margin: 20px 0;

  border-radius: $infoCardBorderRadius $infoCardBorderRadius 0px 0;
  .info-card__title {
    padding: 10px 15px;
    background-color: $yellow;
    border-radius: $infoCardBorderRadius $infoCardBorderRadius 0px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
  }
  .info-card__detail {
    border: solid 1px $border;
    padding: 0px 15px;
    padding-bottom: 10px;
  }
  .info-card__passanger {
    padding: 20px;
    .passanger {
      margin: 5px 0;
      margin-bottom: 0;
    }
  }

  table.info-card__flightTable {
    font-size: 12px;
    width: 100%;
    line-height: 1;
    background-color: #fff;
    border-collapse: collapse;
    .airline {
      text-align: center;
      width: 50px;
    }

    .timeRange {
      width: 70px;
    }

    .classify {
      width: 100px;
    }

    .icon-time {
      position: relative;
      top: 3px;
    }

    // .bb {
    //   border-bottom-color: transparent;
    // }

    .duration {
      background-color: #e4e4e4;

      .desc {
        span {
          margin-right: 0;
        }
      }

      .overnight {
        color: red;
        margin-left: 5px;
      }
    }

    // i {
    //   margin-right: 5px;
    // }

    .desc {
      span {
        margin-right: 10px;
      }
    }
  }

  td {
    padding: 15px;
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    padding: 20px;
  }
}
.btn__search {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 30px auto;
  background-color: $yellow;
  border-radius: 3px;
  font-weight: 600;
  &:hover {
    color: white;
    background-color: $yellow + #111111;
  }
}
.letter-footer {
  padding: 25px 15px;
  background-color: #f5f5f5;
  padding-bottom: 10px;
  color: #6b6b6b;
}
.letter-footer__siteInfo {
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .letter .info-card__flightTitle h4 {
    font-size: 10px;
  }
  .letter .info-card__flightTitle {
    * {
      font-size: 10px;
    }
    h4 {
      font-size: 10px;
    }
  }
}
