<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="../public/css/style.css">

<div class="letter">
    <div class="letter-header  ">

        <div class="letter-header__logo">
            <div class="posa" style="max-height:0;max-width:0;overflow: visible;">
                <div class="bar"></div>
            </div>
            <div class="logo" style="background-image: url('https://farener.com/logo/farener_logo_72dpi.png'); "></div>

        </div>

    </div>
    <div class="letter-header__content">
        <h1 class="letter-header__contentTitle">
            Thanks for choosing Farener!
        </h1>
        <p>We have received you order and it will be processed within 24 hours, please check your email
            forconfirmation.
            If you have any question, please contact our 7x24 coustomer service.
        </p>

        <p>
            Tel:1-888-813-0886 Email:farener@farener.com
        </p>

    </div>

    <div class="itinerary">
        <span> Itinerary Number :
            <%=orderData.OrderSerial %> </span>
    </div>
    <!-- start of detail -->
    <div class="info-card">
        <div class="info-card__title">
            Flight Detail
        </div>
        <!-- start of departure detail -->

        <div class="info-card__detail">

            <!-- Departure   -->
            <div class="info-card__airlineInfo">
                <div class="info-card__flightTitle">

                    <h4 class="text-yellow"> <span>&#x2708;</span>Departure

                    </h4>
                    <span class="date">
                        <!-- <%let firstDepartureDate = new Date(orderData.FlightInfo.Departure[0].DepartureDateTime) %>
                        <%=firstDepartureDate.toLocaleString("en-us", { month: "long" })%>
                        <%=firstDepartureDate.getDay()+','%>
                        <%=firstDepartureDate.getFullYear()%> -->
                        <%= (new Date(orderData.FlightInfo.Departure[0].DepartureDateTime).toDateString().substring(4)) %>
                    </span>
                    <span>
                        <%=orderData.FlightInfo.Departure[0].DepartureAirport.LocationCode%>
                    </span>
                    <span>&#x2708;</span>
                    <span>
                        <%=orderData.FlightInfo.Departure[orderData.FlightInfo.Departure.length-1].ArrivalAirport.LocationCode%></span>
                    <div class="time">


                        <% var  hours=orderData.DepartureElapsedTime %>
                        <span>
                            <span> &#128338; </span>
                            <%= Math.floor(hours/60)+'h' %>
                            <%= hours%60+'m' %>
                        </span>

                    </div>

                </div>
                <%  orderData.FlightInfo.Departure.forEach(function(departure) {%>
                <table class="info-card__flightTable">
                    <tr>
                        <td rowspan="2" class="airline">
                            <br>
                            <span>
                                <%=departure.OperatingAirline.Code+departure.OperatingAirline.FlightNumber%>
                            </span>

                        </td>

                        <td class="desc">

                            <!-- Oct 10, 2018 07:00 -->
                            <span>
                                <%=(new Date(departure.DepartureDateTime).toDateString().substring(4)) + ' ' + departure.DepartureDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span>(
                                <%=departure.DepartureAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==departure.DepartureAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==departure.DepartureAirport.LocationCode).Name%>
                                <% } %>
                            </span>



                        </td>

                    </tr>
                    <tr>
                        <td class="desc">

                            <span>
                                <%=(new Date(departure.ArrivalDateTime).toDateString().substring(4)) + ' ' + departure.ArrivalDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span>(
                                <%=departure.ArrivalAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==departure.ArrivalAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==departure.ArrivalAirport.LocationCode).Name%>
                                <% } %>
                            </span>

                        </td>

                    </tr>
                </table>
                <% }) %>
            </div>

            <!-- Return -->
            <div class="info-card__airlineInfo">
                <div class="info-card__flightTitle">

                    <h4> <span>&#x2708;</span>Return

                    </h4>
                    <span class="date">
                        <!-- <%let firstReturnDate = new Date(orderData.FlightInfo.Return[0].DepartureDateTime) %>
                        <%=firstReturnDate.toLocaleString("en-us", { month: "long" })%>
                        <%=firstReturnDate.getDay()+','%>
                        <%=firstReturnDate.getFullYear()%> -->
                        <%= (new Date(orderData.FlightInfo.Return[0].DepartureDateTime).toDateString().substring(4)) %>
                    </span>
                    <span>
                        <%=orderData.FlightInfo.Return[0].DepartureAirport.LocationCode%> </span>
                    <span>&#x2708;</span>
                    <span>
                        <%=orderData.FlightInfo.Return[orderData.FlightInfo.Return.length-1].ArrivalAirport.LocationCode%></span>
                    <div class="time">


                        <% var  hours=orderData.ReturnElapsedTime %>
                        <span>
                            <span> &#128338; </span>
                            <%= Math.floor(hours/60)+'h' %>
                            <%= hours%60+'m' %>
                        </span>

                    </div>

                </div>
                <%  orderData.FlightInfo.Return.forEach(function(returnSeg) {%>
                <table class="info-card__flightTable">
                    <tr>
                        <td rowspan="2" class="airline">
                            <br>
                            <span>
                                <%=returnSeg.OperatingAirline.Code+returnSeg.OperatingAirline.FlightNumber%>
                            </span>

                        </td>

                        <td class="desc">

                            <!-- Oct 10, 2018 07:00 -->
                            <span>
                                <%=(new Date(returnSeg.DepartureDateTime).toDateString().substring(4)) + ' ' + returnSeg.DepartureDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span>(
                                <%=returnSeg.DepartureAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==returnSeg.DepartureAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==returnSeg.DepartureAirport.LocationCode).Name%>
                                <% } %>
                            </span>



                        </td>

                    </tr>
                    <tr>
                        <td class="desc">

                            <span>
                                <%=(new Date(returnSeg.ArrivalDateTime).toDateString().substring(4)) + ' ' + returnSeg.ArrivalDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span>(
                                <%=returnSeg.ArrivalAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==returnSeg.ArrivalAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==returnSeg.ArrivalAirport.LocationCode).Name%>
                                <% } %></span>

                        </td>

                    </tr>
                </table>
                <% }) %>
            </div>


        </div>
        <!-- end of departure detail -->

    </div>
    <!-- end of detail -->

    <div class="info-card">
        <div class="info-card__title">
            Passengers
        </div>
        <div class="info-card__detail info-card__passanger ">
            <div class="passanger ">



            </div>
            <%orderData.PassengerInfo.forEach(function(passanger,index){%>
            <div class="passanger ">
                <%='Passenger'+index+' :'%>
                <span class="name">
                    <%= passanger.firstName.charAt(0).toUpperCase() +passanger.firstName.slice(1)+' '%>
                    <%= passanger.lastName.charAt(0).toUpperCase() +passanger.lastName.slice(1)%>
                </span>
                <span class="float-right">
                    <%= passanger.gender.charAt(0).toUpperCase() + passanger.gender.slice(1)%>
                    <%=passanger.birthday%>
                </span>


            </div>
            <%})%>
        </div>
    </div>
    <div class="text-center">
        <a href="https://farener.com/booking-search/itinerary" target="_blank" class="btn__search">Search Your
            Itinerary</a>
    </div>
    <div class="letter-footer">
        <div class=" text-center text-yellow text-bold">
            <a href="https://www.farener.com" target="_blank" class="text-yellow">www.farener.com</a>
        </div>
        <div class="letter-footer__siteInfo clearfix">
            <span>Email : farener@farener.com</span>
            <span class="float-right">Contact Us : 1-888-813-0886</span>
        </div>
    </div>
</div>