* {
  font-family: sans-serif; }

a {
  text-decoration: none; }

p,
span,
a {
  color: #4a4a4a;
  font-size: 14px; }

.clock {
  display: inline-block;
  width: 20px;
  vertical-align: middle; }

a {
  text-decoration: none; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.float-right {
  float: right; }

.text-center {
  text-align: center; }

.text-yellow {
  color: #fab120; }

.text-bold {
  font-weight: 600; }

.letter-header {
  position: relative; }
  .letter-header .letter-header__logo {
    clear: both; }
    .letter-header .letter-header__logo .logo {
      width: 150px;
      background-repeat: no-repeat;
      height: 50px;
      background-color: white;
      display: inline-block;
      vertical-align: middle; }
  .letter-header .bar {
    height: 15px;
    border: none;
    background: #fab120;
    margin-top: 20px;
    display: inline-block;
    min-width: 400px;
    max-width: 600px;
    width: 600px;
    vertical-align: middle; }

.letter-header__content {
  border: 3px solid #efefef;
  padding: 20px 40px;
  margin-top: 10px;
  text-align: center; }
  .letter-header__content .letter-header__contentTitle {
    color: #fab120;
    margin: 0;
    font-weight: 400; }

.letter {
  min-width: 200px;
  max-width: 600px;
  margin: auto; }

.itinerary {
  margin-top: 20px;
  font-weight: 600; }

.info-card__flightTitle {
  font-size: 14px;
  margin: 5px 0;
  margin-top: 20px;
  padding-right: 5px; }
  .info-card__flightTitle div {
    display: inline-block; }
  .info-card__flightTitle h4 {
    font-size: 16px;
    color: #fab120;
    margin: 0 10px;
    display: inline; }
    .info-card__flightTitle h4 span {
      color: #fab120;
      font-size: 16px; }
  .info-card__flightTitle .date {
    font-weight: bold;
    margin-right: 10px; }
  .info-card__flightTitle .icon-flight {
    margin: 0 5px; }
  .info-card__flightTitle .time {
    margin-left: auto;
    float: right; }
  .info-card__flightTitle .icon-time {
    margin-right: 5px; }

.info-card {
  margin: 20px 0;
  border-radius: 6px 6px 0px 0; }
  .info-card .info-card__title {
    padding: 10px 15px;
    background-color: #fab120;
    border-radius: 6px 6px 0px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px; }
  .info-card .info-card__detail {
    border: solid 1px #efefef;
    padding: 0px 15px;
    padding-bottom: 10px; }
  .info-card .info-card__passanger {
    padding: 20px; }
    .info-card .info-card__passanger .passanger {
      margin: 5px 0;
      margin-bottom: 0; }
  .info-card table.info-card__flightTable {
    font-size: 12px;
    width: 100%;
    line-height: 1;
    background-color: #fff;
    border-collapse: collapse; }
    .info-card table.info-card__flightTable .airline {
      text-align: center;
      width: 50px; }
    .info-card table.info-card__flightTable .timeRange {
      width: 70px; }
    .info-card table.info-card__flightTable .classify {
      width: 100px; }
    .info-card table.info-card__flightTable .icon-time {
      position: relative;
      top: 3px; }
    .info-card table.info-card__flightTable .duration {
      background-color: #e4e4e4; }
      .info-card table.info-card__flightTable .duration .desc span {
        margin-right: 0; }
      .info-card table.info-card__flightTable .duration .overnight {
        color: red;
        margin-left: 5px; }
    .info-card table.info-card__flightTable .desc span {
      margin-right: 10px; }
  .info-card td {
    padding: 15px;
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    padding: 20px; }

.btn__search {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 30px auto;
  background-color: #fab120;
  border-radius: 3px;
  font-weight: 600; }
  .btn__search:hover {
    color: white;
    background-color: #ffc231; }

.letter-footer {
  padding: 25px 15px;
  background-color: #f5f5f5;
  padding-bottom: 10px;
  color: #6b6b6b; }

.letter-footer__siteInfo {
  margin-top: 20px; }

@media screen and (max-width: 375px) {
  .letter .info-card__flightTitle h4 {
    font-size: 10px; }
  .letter .info-card__flightTitle * {
    font-size: 10px; }
  .letter .info-card__flightTitle h4 {
    font-size: 10px; } }
