<link rel="stylesheet" href="/css/style.css">
<style>
.btn__search:hover {
  color: white;
  background-color: #ffc231;
}
</style>

<div class="letter" style="font-family: sans-serif; min-width: 200px; max-width: 600px; margin: auto;">
    <div class="letter-header  " style="font-family: sans-serif; position: relative;">

        <div class="letter-header__logo" style="font-family: sans-serif; clear: both;">
            <div class="posa" style="font-family: sans-serif; max-height: 0; max-width: 0; overflow: visible;">
                <div class="bar" style="font-family: sans-serif; height: 15px; border: none; background: #fab120; margin-top: 20px; display: inline-block; min-width: 400px; max-width: 600px; width: 600px; vertical-align: middle;"></div>
            </div>
            <div class="logo" style="font-family: sans-serif; width: 150px; background-repeat: no-repeat; height: 50px; background-color: white; display: inline-block; vertical-align: middle; background-image: url('https://farener.com/logo/farener_logo_72dpi.png');"></div>

        </div>

    </div>
    <div class="letter-header__content" style="font-family: sans-serif; border: 3px solid #efefef; padding: 20px 40px; margin-top: 10px; text-align: center;">
        <h1 class="letter-header__contentTitle" style="font-family: sans-serif; color: #fab120; margin: 0; font-weight: 400;">
            Thanks for choosing Farener!
        </h1>
        <p style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">We have received you order and it will be processed within 24 hours, please check your email
            forconfirmation.
            If you have any question, please contact our 7x24 coustomer service.
        </p>

        <p style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
            Tel:1-888-813-0886 Email:farener@farener.com
        </p>

    </div>

    <div class="itinerary" style="font-family: sans-serif; margin-top: 20px; font-weight: 600;">
        <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;"> Itinerary Number :
            <%=orderData.OrderSerial %> </span>
    </div>
    <!-- start of detail -->
    <div class="info-card" style="font-family: sans-serif; margin: 20px 0; border-radius: 6px 6px 0px 0;">
        <div class="info-card__title" style="font-family: sans-serif; padding: 10px 15px; background-color: #fab120; border-radius: 6px 6px 0px 0; font-size: 16px; font-weight: 600; color: white; letter-spacing: 0.5px;">
            Flight Detail
        </div>
        <!-- start of departure detail -->

        <div class="info-card__detail" style="font-family: sans-serif; border: solid 1px #efefef; padding: 0px 15px; padding-bottom: 10px;">

            <!-- Departure   -->
            <div class="info-card__airlineInfo" style="font-family: sans-serif;">
                <div class="info-card__flightTitle" style="font-family: sans-serif; font-size: 14px; margin: 5px 0; margin-top: 20px; padding-right: 5px;">

                    <h4 class="text-yellow" style="font-family: sans-serif; font-size: 16px; color: #fab120; margin: 0 10px; display: inline;"> <span style="font-family: sans-serif; color: #fab120; font-size: 16px;">&#x2708;</span>Departure

                    </h4>
                    <span class="date" style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; font-weight: bold; margin-right: 10px;">
                        <!-- <%let firstDepartureDate = new Date(orderData.FlightInfo.Departure[0].DepartureDateTime) %>
                        <%=firstDepartureDate.toLocaleString("en-us", { month: "long" })%>
                        <%=firstDepartureDate.getDay()+','%>
                        <%=firstDepartureDate.getFullYear()%> -->
                        <%= (new Date(orderData.FlightInfo.Departure[0].DepartureDateTime).toDateString().substring(4)) %>
                    </span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                        <%=orderData.FlightInfo.Departure[0].DepartureAirport.LocationCode%>
                    </span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">&#x2708;</span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                        <%=orderData.FlightInfo.Departure[orderData.FlightInfo.Departure.length-1].ArrivalAirport.LocationCode%></span>
                    <div class="time" style="font-family: sans-serif; display: inline-block; margin-left: auto; float: right;">


                        <% var  hours=orderData.DepartureElapsedTime %>
                        <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;"> &#128338; </span>
                            <%= Math.floor(hours/60)+'h' %>
                            <%= hours%60+'m' %>
                        </span>

                    </div>

                </div>
                <%  orderData.FlightInfo.Departure.forEach(function(departure) {%>
                <table class="info-card__flightTable" style="font-family: sans-serif; font-size: 12px; width: 100%; line-height: 1; background-color: #fff; border-collapse: collapse;" width="100%" bgcolor="#fff">
                    <tr style="font-family: sans-serif;">
                        <td rowspan="2" class="airline" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px; text-align: center; width: 50px;" width="50" align="center" valign="middle">
                            <br style="font-family: sans-serif;">
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                                <%=departure.OperatingAirline.Code+departure.OperatingAirline.FlightNumber%>
                            </span>

                        </td>

                        <td class="desc" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px;" valign="middle">

                            <!-- Oct 10, 2018 07:00 -->
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">
                                <%=(new Date(departure.DepartureDateTime).toDateString().substring(4)) + ' ' + departure.DepartureDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">(
                                <%=departure.DepartureAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==departure.DepartureAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==departure.DepartureAirport.LocationCode).Name%>
                                <% } %>
                            </span>



                        </td>

                    </tr>
                    <tr style="font-family: sans-serif;">
                        <td class="desc" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px;" valign="middle">

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">
                                <%=(new Date(departure.ArrivalDateTime).toDateString().substring(4)) + ' ' + departure.ArrivalDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">(
                                <%=departure.ArrivalAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==departure.ArrivalAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==departure.ArrivalAirport.LocationCode).Name%>
                                <% } %>
                            </span>

                        </td>

                    </tr>
                </table>
                <% }) %>
            </div>

            <!-- Return -->
            <div class="info-card__airlineInfo" style="font-family: sans-serif;">
                <div class="info-card__flightTitle" style="font-family: sans-serif; font-size: 14px; margin: 5px 0; margin-top: 20px; padding-right: 5px;">

                    <h4 style="font-family: sans-serif; font-size: 16px; color: #fab120; margin: 0 10px; display: inline;"> <span style="font-family: sans-serif; color: #fab120; font-size: 16px;">&#x2708;</span>Return

                    </h4>
                    <span class="date" style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; font-weight: bold; margin-right: 10px;">
                        <!-- <%let firstReturnDate = new Date(orderData.FlightInfo.Return[0].DepartureDateTime) %>
                        <%=firstReturnDate.toLocaleString("en-us", { month: "long" })%>
                        <%=firstReturnDate.getDay()+','%>
                        <%=firstReturnDate.getFullYear()%> -->
                        <%= (new Date(orderData.FlightInfo.Return[0].DepartureDateTime).toDateString().substring(4)) %>
                    </span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                        <%=orderData.FlightInfo.Return[0].DepartureAirport.LocationCode%> </span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">&#x2708;</span>
                    <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                        <%=orderData.FlightInfo.Return[orderData.FlightInfo.Return.length-1].ArrivalAirport.LocationCode%></span>
                    <div class="time" style="font-family: sans-serif; display: inline-block; margin-left: auto; float: right;">


                        <% var  hours=orderData.ReturnElapsedTime %>
                        <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;"> &#128338; </span>
                            <%= Math.floor(hours/60)+'h' %>
                            <%= hours%60+'m' %>
                        </span>

                    </div>

                </div>
                <%  orderData.FlightInfo.Return.forEach(function(returnSeg) {%>
                <table class="info-card__flightTable" style="font-family: sans-serif; font-size: 12px; width: 100%; line-height: 1; background-color: #fff; border-collapse: collapse;" width="100%" bgcolor="#fff">
                    <tr style="font-family: sans-serif;">
                        <td rowspan="2" class="airline" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px; text-align: center; width: 50px;" width="50" align="center" valign="middle">
                            <br style="font-family: sans-serif;">
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                                <%=returnSeg.OperatingAirline.Code+returnSeg.OperatingAirline.FlightNumber%>
                            </span>

                        </td>

                        <td class="desc" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px;" valign="middle">

                            <!-- Oct 10, 2018 07:00 -->
                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">
                                <%=(new Date(returnSeg.DepartureDateTime).toDateString().substring(4)) + ' ' + returnSeg.DepartureDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">(
                                <%=returnSeg.DepartureAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==returnSeg.DepartureAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==returnSeg.DepartureAirport.LocationCode).Name%>
                                <% } %>
                            </span>



                        </td>

                    </tr>
                    <tr style="font-family: sans-serif;">
                        <td class="desc" style="font-family: sans-serif; padding: 15px; vertical-align: middle; border: 1px solid #e4e4e4; padding: 20px;" valign="middle">

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">
                                <%=(new Date(returnSeg.ArrivalDateTime).toDateString().substring(4)) + ' ' + returnSeg.ArrivalDateTime.split('T')[1].slice(0,-3) %>
                            </span>

                            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; margin-right: 10px;">(
                                <%=returnSeg.ArrivalAirport.LocationCode%>)
                                <% if(airport_city.find(city=>city.IATA==returnSeg.ArrivalAirport.LocationCode)){ %>
                                <%= airport_city.find(city=>city.IATA==returnSeg.ArrivalAirport.LocationCode).Name%>
                                <% } %></span>

                        </td>

                    </tr>
                </table>
                <% }) %>
            </div>


        </div>
        <!-- end of departure detail -->

    </div>
    <!-- end of detail -->

    <div class="info-card" style="font-family: sans-serif; margin: 20px 0; border-radius: 6px 6px 0px 0;">
        <div class="info-card__title" style="font-family: sans-serif; padding: 10px 15px; background-color: #fab120; border-radius: 6px 6px 0px 0; font-size: 16px; font-weight: 600; color: white; letter-spacing: 0.5px;">
            Passengers
        </div>
        <div class="info-card__detail info-card__passanger " style="font-family: sans-serif; border: solid 1px #efefef; padding-bottom: 10px; padding: 20px;">
            <div class="passanger " style="font-family: sans-serif; margin: 5px 0; margin-bottom: 0;">



            </div>
            <%orderData.PassengerInfo.forEach(function(passanger,index){%>
            <div class="passanger " style="font-family: sans-serif; margin: 5px 0; margin-bottom: 0;">
                <%='Passenger'+index+' :'%>
                <span class="name" style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">
                    <%= passanger.firstName.charAt(0).toUpperCase() +passanger.firstName.slice(1)+' '%>
                    <%= passanger.lastName.charAt(0).toUpperCase() +passanger.lastName.slice(1)%>
                </span>
                <span class="float-right" style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; float: right;">
                    <%= passanger.gender.charAt(0).toUpperCase() + passanger.gender.slice(1)%>
                    <%=passanger.birthday%>
                </span>


            </div>
            <%})%>
        </div>
    </div>
    <div class="text-center" style="font-family: sans-serif; text-align: center;">
        <a href="https://farener.com/booking-search/itinerary" target="_blank" class="btn__search" style="font-family: sans-serif; font-size: 14px; display: inline-block; text-align: center; text-decoration: none; color: white; padding: 10px 20px; margin: 30px auto; background-color: #fab120; border-radius: 3px; font-weight: 600;">Search Your
            Itinerary</a>
    </div>
    <div class="letter-footer" style="font-family: sans-serif; padding: 25px 15px; background-color: #f5f5f5; padding-bottom: 10px; color: #6b6b6b;">
        <div class=" text-center text-yellow text-bold" style="font-family: sans-serif; text-align: center; color: #fab120; font-weight: 600;">
            <a href="https://www.farener.com" target="_blank" class="text-yellow" style="font-family: sans-serif; font-size: 14px; text-decoration: none; color: #fab120;">www.farener.com</a>
        </div>
        <div class="letter-footer__siteInfo clearfix" style="font-family: sans-serif; margin-top: 20px;">
            <span style="font-family: sans-serif; color: #4a4a4a; font-size: 14px;">Email : farener@farener.com</span>
            <span class="float-right" style="font-family: sans-serif; color: #4a4a4a; font-size: 14px; float: right;">Contact Us : 1-888-813-0886</span>
        </div>
    </div>
</div>